.idea
.vagrant/
vendor/
Migrations/
public_html/dist/
config/development.config.php
config/doctrine_orm.local.php
data/cache/
data/DoctrineORMModule/
data/logs/
!data/cache/.gitkeep
phpunit.xml
composer.lock
.env
config/autoload/filter.global.php
config/autoload/form.global.php
config/autoload/service.global.php
config/autoload/table.global.php